<%= form_for(@betauser) do |f| %>
  <% if @betauser.errors.any? %>
    <div id="error_explanation">
      <h2>Um ou mais erros impediram cadastro de ser realizado:</h2>

      <ul>
      <% @betauser.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <p>

    <%= f.text_field :name, :placeholder => 'Nome' %>

    <%= f.text_field :email, :placeholder => 'e-mail' %>

    <%= f.text_field :howmuch, :placeholder => 'Quanto precisa (R$)?' %>

    <%= f.submit 'Cadastrar para o Beta' %>
<% end %>
