<h1>Listing betausers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>howmuch</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @betausers.each do |betauser| %>
      <tr>
        <td><%= betauser.name %></td>
        <td><%= betauser.email %></td>
        <td><%= betauser.howmuch %></td>
        <td><%= link_to 'Show', betauser %></td>
        <td><%= link_to 'Edit', edit_betauser_path(betauser) %></td>
        <td><%= link_to 'Destroy', betauser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Betauser', new_betauser_path %>
