<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @betauser.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @betauser.email %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @betauser.howmuch %>
</p>

<%= link_to 'Edit', edit_betauser_path(@betauser) %> |
<%= link_to 'Back', betausers_path %>
